* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #444242;
    display: flex;
    justify-content: center;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

header>div>img {
    width: 50%;
    cursor: pointer;
}

.voltar> a > img {
    width: 100%;
}

.carrinho-menu>img {
    margin: 5px;
    width: 40%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div {
    background-color: #F2F2F2;
    color: #FA9401;
    height: 50px;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

main > div > p {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}
.textos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    color: #5B5A5A;
    width: 90%;
    text-align: left;
}

.textos > img {
    cursor: pointer;
}

.textos > p {
    width: 70%;
}
hr{
    width: 90%;
    border: 1px solid #E8E8E8;
}

.redes{
    display: flex;
    width: 80%;
    background-color: #FFFFFF;
    margin-top: 20px;
    justify-content: space-around;
    margin-bottom: 55px;
}

.redes > img{
    cursor: pointer;
}

footer{
    display: flex;
    background-color: #FA9401;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 100%;
}