* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #444242;
    min-height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin: 20px;
}

header>button {
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
    width: 121.33px;
    height: 34px;
}

header>button>p {
    margin: 0;
    margin-left: 5px;
    text-align: center;
}

header>img {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
}

main>img {
    width: 30%;
    margin: 10px 0;
}

main>div {
    display: flex;
    flex-direction: column;
}

main>div>div {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 265px;
    height: 50px;
    border-radius: 30px;
    background-color: #444242;
    border: solid 1px #FA9401;
    color: #FFFFFF;
    margin:10px 0;
}

.navigation:hover {
    background-color: #FA9401;
}

.navigation > img {
    margin: 0 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin-top: 20px;
}

footer>a>img {
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width:360px) {
    main>img {
        width: 60%;
        margin: 15% 0;
    }
}

@media (min-width:640px) and (max-width: 768px) {
    main>div {
        flex-direction: row
    }
    main{
        justify-content: center;
    }
}

@media (min-width: 768x) {
    body {
        height: fit-content;
    }
    main>div {
        flex-direction: column
    }

    main{
        justify-content: center;
    }
}

@media (width: 320px) and (height: 568px) {
    body {
        background-color: #FFB64E;
        height: fit-content;
    }


    .navigation {
        border-color: #FFFFFF;
    }

    .navigation:hover {
        border-color: #444242;
    }
}